body {
margin: 0;
font-family: Arial, sans-serif;
display: flex;
background-color: #f5f5f5;
}

.sidebar {
width: 200px;
background-color: white;
border-right: 2px solid black;
display: flex;
flex-direction: column;
}

.sidebar a {
padding: 30px 10px;
text-decoration: none;
color: black;
font-size: 36px;
font-weight: bold;
border-bottom: 2px solid black;
border-left: 2px solid black;
border-right: 2px solid black;
}

.sidebar a:hover {
background-color: #eee;
}

main {
padding: 40px;
flex-grow: 1;
}


